div{
    height: 100px;
    width: 100px;
    animation-name: new;
    background: linear-gradient(red,blue);
    animation-iteration-count:infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    transform: 1s;
    position: absolute;
    right: 300px;
    border-radius: ;
    

}
/* div:hover{
    animation-name: new;
    animation-duration: 2s;

} */
@keyframes new {
    0%{  
        transform: translate(90deg)
        
        
        

    }
   

    100%{
       transform: translateY(85vh) rotate(360deg);
    
        
    }    
    

    
}